button {
  background-color: #2563eb;
  color: white;
  border: 3px solid #1e40af;
  width: 200px;
  margin: 15px auto;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

button:hover {
  background-color: #1e40af;
  transform: scale(1.05);
}